{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

        <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{% static project.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'projects:project_detail' project.pk%}"
                        class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
   {% endblock %}
<!--
{% load static %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="link-to-bootstrap-CDN/bootstrap.css">
    <a href="#" class="btn btn-primary">
    Read More
</a>
</head>
<h1>all projects thingy </h1>
        <meta charset="utf-8">
        <title>Projects</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3
{{projects}} #passing something from the view

{% for project in projects %}
    <img src="{% static project.image %}" alt="screenshot of project">
<p> {{project.image}}</p>
    <h1>{{project.title}}</h1>
    <p>{{project.description}}</p>
<p>{{project.technology}}</p>

{%endfor%}


-->